# shellcheck shell=bash
use flake
cat >.prettierrc.json <<EOL
{
  "plugins": [
    "$NODE_PATH/@prettier/plugin-xml/src/plugin.js"
  ],
  "xmlWhitespaceSensitivity": "ignore"
}
EOL
# vim: filetype=sh
