# shellcheck shell=bash
use nix --include nixpkgs=flake:nixpkgs --attr shell
cat > .prettierrc.json << EOL
{
  "plugins": [
    "$NODE_PATH/@prettier/plugin-xml/src/plugin.js"
  ],
  "xmlWhitespaceSensitivity": "ignore"
}
EOL
# vim: filetype=bash
