#!/bin/bash
# ran by display manager before window manager

# automatically determine monitor layout
xlayoutdisplay

# change keybindings with X keyboard extension
test -f ~/.Xkeymap && xkbcomp ~/.Xkeymap "$DISPLAY"

# typematic rate (225 ms delay, 25 hz output)
xset r rate 225 25

# clipboard manager
clipster --daemon &

# ime
ibus-daemon --daemonize --replace --xim

export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus

# set wallpaper background
feh --no-fehbg --bg-scale ~/Pictures/config/desktop_background

# compositor (transparency and other fancy effects)
picom --daemon

# screensaver after 30 minutes of inactivity
xset s 1800
xss-lock --transfer-sleep-lock -- \
    i3lock --nofork --image="$HOME/Pictures/config/screensaver" &

# MPRIS dameon to track media player with most recent activity
playerctld daemon

# every time the computer goes to sleep, there's a chance it won't wake up
caffeine &

# login alert sound: should be desktop-login but I like service-login better
canberra-gtk-play --id=service-login &

