# Configure the appearance of page separator
# setting to 1 will sometimes not render in specific places
page_separator_width 2
page_separator_color 0.9 0.9 0.9

# (deprecated, use `should_launch_new_window` instead)
# If it is 0, then we use the previous instance of sioyek when launching a new
# file. otherwise a new instance is launched every time we open a new file.
# should_launch_new_instance 1

# If set, we open a new sioyek window when a new file is opened,
# otherwise we open the file in the previous window
should_launch_new_window 1

