snippet header "header"
$fn = 32; // resolution
endsnippet

snippet header3d "header"
// recommended resolution for 3D printing
// https://en.wikibooks.org/wiki/OpenSCAD_Tutorial/Chapter_1
$fa = 1;
$fs = 0.4;
endsnippet

